html, body{
    margin: 0;
    padding: 0;
    font: normal 17px Ubuntu,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.hidden {
    display: none !important;
}
header, article{
    display: block;
    
    float: left;
    padding: 20px;
}

header{
    text-align: center;
}

article{
    padding-top: 120px;
}

#avatar{
    border-radius: 50%;
    margin: 10px;
}

h1{
    color: gray;
}

blockquote{
    font-size: 130%;
    text-align: right;
    color: gray;
}
p{
    color: #666666;
}

footer{
    clear: both;
}



/*
* Social network navigation bar 
*/

.navbar-social {
    background-color: #eeeeee;
    
}



.navbar-social ul{
    font-size:0; 
    margin: 40px auto;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    display: block;
    height: 150px;
    -webkit-perspective: 150px;
    -moz-perspective: 150px;
    -o-perspective: 150px;
    -ms-perspective: 150px;
    perspective: 150px;
}

.navbar-social ul li{
    position: relative;
    transition-duration: .3s;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    list-style: none;
    overflow: hidden;
}

.navbar-social ul li a{
    
    display: inline-block;
    width: 100px;
    height: 100%;
    padding: 0 10px;
    line-height: 190px;
    
}



.active {    
    z-index: 3;
    -webkit-transform:  scale(1.25);
    -moz-transform:  scale(1.25);
    -o-transform:  scale(1.25);
    -ms-transform:  scale(1.25);
    transform:  scale(1.25);
    margin: 0 20px;
}


.active-sibling-lvl-1 {
    z-index: 2;
    -webkit-transform:  scale(1.15);
    -moz-transform:  scale(1.15);
    -o-transform:  scale(1.15);
    -o-transform:  scale(1.15);
    -ms-transform:  scale(1.15);
    transform:  scale(1.15);
    margin: 0 10px;
    
}
.active-sibling-lvl-2 {
    z-index: 1;
    -webkit-transform:  scale(1.1);
    -moz-transform:  scale(1.1);
    -o-transform:  scale(1.1);
    -ms-transform:  scale(1.1);
    transform:  scale(1.1);
    margin: 0 10px;
}




/* icons */

.facebook{
    background-color: #4a6ea9;
}

.twitter{
    background-color: #5ea9dd;
}

.youtube{
    background-color: #e64a41;
}

.instagram{
    background-color: #816647;
}

.blog{
    background-color: #ffa654;
}

.github{
    background-color: #5a2a4d;
}

.googleplus{
    background-color: #cc3433;
}
.email{
    background-color: #666666;
}

@media (max-width: 768px){
    header, article{
        padding-top: 30px;        
        float: none;

    }
    .navbar-social ul li{
        display: block;
    }
    .navbar-social ul li a{
        display: block;
        width: 100%;
        padding: 30px 0;
    }
}

@media (min-width: 769px){
    header, article{
        width: 40%;

    }
}